a{
    padding: 20px;
    margin: 20px;
    font-weight: bold;
    font-size: 25px;
}
#active{
    background-color: mediumseagreen;
    color: orange;
    text-decoration: none;
}
h1{
    text-align: center;
    background-color: black;
    color: orange;
    padding: 10px;
    font-size: 50px;
}
img{
    width: 100%;
}